*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-image: url("../img/pattern.png");
    background-color: rgb(78, 160, 255);
    background-size: 45%;
    padding: 30px;

}

header img{
    width:  20%;


}

