*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-image: url("../img/pattern.png");
    background-color: rgb(78, 160, 255);
    background-size: 45%;
    padding: 30px;

}

header img{
    width:  20%;

}

main{
    width: 80%;
    margin: auto;
}

main h1{
    text-align: left;
}

main strong{
    color: rgb(78, 160, 255);
}

.tim1{
    width: 400px;
}

.tim2{
    width: 343px;
}