*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-image: url("../img/pattern.png");
    background-color: rgb(78, 160, 255);
    background-size: 40%;
    padding-top: 30px;

}

header img{
    height: 70px;

}

.conteiner{
    width: 80%;
    margin: auto;
}


main h1{
    text-align: left;
}

.text-blue{
    color: rgb(78, 160, 255);
}

.data{
    font-size: 13px;
}

.tim1{
    width: 400px;
}

.tim2{
    width: 343px;
}

.photo{
    font-size: 13px;
}

.text{
    margin-top: 20px;
}

.ul{
    margin: 20px 20px;
}

thead{
    background-color: #20a9e5;
    color: white;
}

.column{
    width: 20%;
}

table{
    border-spacing: 0;
    margin-top: 20px;
}

h3{
    color: #808080;
    margin-top: 30%;
}

.foto1{
    background-image: url('../img/monitor.jpg');
    background-size: contain;
    width: 270px;
    height: 200px;
    margin-top: 15px;
    padding-bottom: 10px;
}

.foto2{
    background-image: url('../img/graph.jpg');
    background-size: contain;
    width: 270px;
    height: 200px;
    margin-top: 15px;
    padding-bottom: 10px;
}